<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
	<div class="wrapper" id="app">

		<div class="medidas">



			<div class="a">
				<div class="title-section">
					<h3>A</h3>
					<!-- <div class="inline-block">
						<input v-on:change="changeTotalHeight(),reCalculate()" v-model="totalHeight">
						<p>Alto</p>
					</div>
					<div class="inline-block">
						<input v-on:change="changeTotalWidth(),reCalculate()" v-model="totalWidth">
						<p>Ancho</p>
					</div> -->
				</div>

				<!-- Puerta -->
				<div class="content" v-for="med in X">
					<h5>{{med.name}}</h5>
					<ul>
						<li>
							<div class="width-letra">
								<span>Cantidad</span>
							</div>
							<input v-model="med.cantidad" v-on:change="reCalculate(), changeTotalWidth()">
						</li>
						<li>
							<div class="width-letra" >
								<span>Altura</span>
							</div>
							<input v-model="med.height" v-on:change="reCalculate">
						</li>
						<li>
							<div class="width-letra">
								<span>Ancho</span>
							</div>
							<input v-model="med.width" v-on:change="reCalculate">
						</li>
						<li>
							<select class="color"
								v-model="med.color" v-on:change="reCalculate">
								<option value="white">Blanco</option>
								<option value="black">Negro</option>
								<option value="other">Other</option>
							</select>
						</li>
					</ul>
				</div>
			</div>






			<div class="b">
				<div class="title-section">
					<h3>B</h3>
					<!-- <div class="inline-block">
						<input v-on:change="changeTotalHeight(),reCalculate()" v-model="totalHeight">
						<p>Alto</p>
					</div>
					<div class="inline-block">
						<input v-on:change="changeTotalDepth(),reCalculate()" v-model="totalDepth">
						<p>Profundidad</p>
					</div> -->
				</div>

				<div class="content" v-for="med in Y">
					<h5>{{med.name}}</h5>
					<ul>
						<li>
							<div class="width-letra">
								<span>Cantidad</span>
							</div>
							<input v-model="med.cantidad" v-on:change="reCalculate">
						</li>
						<li>
							<div class="width-letra">
								<span>Alto</span>
							</div>
							<input v-model="med.height" v-on:change="reCalculate">
						</li>
						<li>
							<div class="width-letra">
								<span>Ancho</span>
							</div>
							<input v-model="med.width" v-on:change="reCalculate">
						</li>
						<li>
							<select class="color"
								v-model="med.color" v-on:change="reCalculate">
								<option value="white">Blanco</option>
								<option value="black">Negro</option>
								<option value="other">Other</option>
							</select>
						</li>
					</ul>
				</div>
			</div>





			<div class="c">
				<div class="title-section">
					<h3>C</h3>
					<!-- <div class="inline-block">
						<input v-on:change="changeTotalDepth(),reCalculate()" v-model="totalDepth">
						<p>Profundidad</p>
					</div>
					<div class="inline-block">
						<input v-on:change="changeTotalWidth(),reCalculate()" v-model="totalWidth">
						<p>Ancho</p>
					</div> -->
				</div>

				<div class="content" v-for="med in Z">
					<h5>{{med.name}}</h5>
					<ul>
						<li>
							<div class="width-letra">
								<span>Cantidad</span>
							</div>
							<input v-model="med.cantidad" v-on:change="reCalculate(), changeTotalWidth()">
						</li>
						<li>
							<div class="width-letra">
								<span>Alto</span>
							</div>
							<input v-model="med.height" v-on:change="reCalculate">
						</li>
						<li>
							<div class="width-letra">
								<span>Ancho</span>
							</div>
							<input v-model="med.width" v-on:change="reCalculate">
						</li>
						<li>
							<select class="color"
								v-model="med.color" v-on:change="reCalculate">
								<option value="white">Blanco</option>
								<option value="black">Negro</option>
								<option value="other">Other</option>
							</select>
						</li>
					</ul>
				</div>
			</div>


			<div class="Extras">
				<div class="title-section">
					<h3>Extras</h3>

				</div>

				<div class="content" v-for="med in Extras">
					<h5>{{med.name}}</h5>
					<ul>

							
						<li >
							<div class="width-letra">
								<span>Cantidad</span>
							</div>


							<input v-model="med.cantidad" v-on:change="reCalculate">
						</li>


						
					</ul>
				</div>
			</div>



		</div>

		<div class="precio-total">


			<div class="top-30">
				<div class="inline-block">
					<h5>Alto</h5>
					<input v-on:change="changeTotalHeight(),reCalculate()" v-model="totalHeight" class="input-formulario">
				</div>
				<div class="inline-block">
					<h5>Ancho</h5>
					<input v-on:change="changeTotalWidth(),reCalculate()" v-model="totalWidth" class="input-formulario">
				</div>
				<div class="inline-block">
					<h5>Profundidad</h5>
					<input v-on:change="changeTotalDepth(),reCalculate()" v-model="totalDepth" class="input-formulario">
				</div>
			</div>

			<div class="top-30">
				<span>Precio</span>
				<h5>{{totalCostX + totalCostY +totalCostZ}}</h5>
			</div>
		</div>

	</div>




	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://unpkg.com/vue@2.2.6"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
